@import './shared/variables';

.banner {
  max-width: 1300px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: -50px;
}

.bannerHeader {
  @include heading-1;
  margin-bottom: 33px;
  font-size: 50px;
  letter-spacing: 1px;

  @media screen and (max-width: 768px) {
    font-size: 2.4375em;
    letter-spacing: 0;
    margin: 0;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    font-size: 48px;
    font-weight: 400;
  }
}

p {
  @include paragraph;
  color: $white;
  font-weight: 300;
  width: 60%;
  line-height: 32px;
  margin: 22px auto;
  letter-spacing: 1px;

  @media screen and (max-width: 768px) {
    font-size: 1.1875em;
    letter-spacing: 0;
    line-height: 28px;
    margin: 11px auto;
    width: 80%;
  }
}

.mainButton {
  @include button;
  margin-top: 11px;

  &:hover {
    @include onHover;
  }

  @media screen and (max-width: 768px) {
    font-size: 1em;
    min-height: 36px;
    border-radius: 25px;
    padding-left: 18px;
    padding-right: 18px;

    &:hover {
      font-size: 1em;
      margin: 0;
      min-height: 36px;
      border-radius: 25px;
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}