@import './shared/variables';

.mainContainer {
  max-width: 1300px;
  margin: auto;

  h2 {
    @include heading-2;
    width: 100%;
  }

  p {
    @include paragraph;
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media only screen and (min-width: 992px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  .mainTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      width: 100%;
      padding-top: 25px;
    }

    .mainTopLeft {

      h2 {
        &:hover {
          color: $blueish;
        }

        @media only screen and (max-width: 768px) {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 22px;
        }

        @media only screen and (min-width: 768px) {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 22px;
          width: 100%;
        }

        @media only screen and (min-width: 768px) {
          font-size: 28px;
        }
      }

      p {
        @media only screen and (max-width: 768px) {
          width: 95%;
          max-height: 160px;
          font-size: 16px;
          line-height: 23px;
          white-space: normal;
          overflow: hidden;
        }

        @media only screen and (min-width: 768px) {
          font-size: 18px;
          max-width: 350px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 140px;
          margin: 0;
        }

        @media only screen and (min-width: 992px) {
          max-width: 400px;
        }

        @media only screen and (min-width: 1200px) {
          max-width: 600px;
        }

        &:hover {
          color: $blackish;
        }
      }

      @media only screen and (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        text-align: center;
        display: block;
      }

      @media only screen and (min-width: 768px) {
        text-align: left;
        width: 50%;
        max-width: 50%;
      }
    }

    .mainTopRight {
      margin: 0;
      position: relative;

      @media only screen and (max-width: 768px) {
        width: 100%;
        display: block;
        margin: 0;
        max-width: 100%;
      }

      @media only screen and (min-width: 768px) {
        max-width: 50%;
        padding-left: 25px;
      }

      @media only screen and (min-width: 1200px) {
        margin: auto;
      }

      a {
        display: block;
        position: relative;

        &:before {
          content:"";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(rgba(238, 45, 28, .6), rgba(255, 255, 255, .4));
        }

        &:hover {
          &:before {
            background: linear-gradient(rgba(238, 45, 28, .6), rgba(0, 0, 0, .2));
          }
        }

        &:after {
          content:url('../assets/playbtn.png');
          border-radius: 25px;
          z-index: 2;
          top: calc(50% - 3.5em);
          left: calc(50% - 3.5em);
          position: absolute;
        }

        img {
          @media only screen and (max-width: 768px) {
            width: 100%;
          }

          @media only screen and (min-width: 768px) {
            max-width: 350px;
          }

          @media only screen and (min-width: 992px) {
            max-width: 440px;
          }
        }
      }
    }
  }

  .mainBottom {

    @media only screen and (max-width: 768px) {
      margin-left: 10px;
      margin-right: 10px;
    }

    &:before {
      content: "";
      display: block;
      height: 50px;
    }

    h2 {
      @media only screen and (max-width: 768px) {
        font-size: 1.25em;
      }
    }

    p {
      @media only screen and (max-width: 768px) {
        font-size: 1.125em;
      }

      @media only screen and (min-width: 768px) {
        width: 80%;
      }
    }

  }
}