@import './shared/variables';

header {
  border: 1px solid var(--red);

  .headerContainer {

  }

  .logoContainer {
    // position: absolute;
  }

  .profileContainer {
    // position: absolute;
    width: 50px;
  }

  .test {
    color: $redish;
    font-size: 22px;
  }
}


