@import './shared/variables';

.mainContainer {
  // border: 1px solid red;
  max-width: 1300px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    @include heading-2;
    width: 100%;
  }

  p {
    @include paragraph;
    width: 100%;
  }

  .mainTop {
    // border: 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;

    .mainTopLeft {
      // border: 1px solid red;
      text-align: left;
      flex-grow: 5;
      padding-left: 50px;
      padding-right: 50px;

      h2 {
        &:hover {
          color: $blueish;
        }
      }

       p {
         width: 370px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         max-height: 140px;
         margin: 0;
         // border: 1px solid red;

         &:hover {
           color: $blackish;
         }
       }
    }

    .mainTopRight {
      // border: 1px solid red;
      flex-grow: 1;
      padding-left: 50px;
      padding-right: 50px;
      position: relative;

      a {
        display: block;
        width: 100%;
        // height: 0;
        // overflow: hidden;
        position: relative;

        // border: 1px solid green;
        &:before {
          content:"";
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 99%;
          background-color: rgba(238, 45, 28, .5);
        }

        &:after {
          content:url('../assets/playbtn.png');
          // width: 30%;
          // background-color: rgba(238, 45, 28, .2);
          border-radius: 25px;
          z-index: 2;
          top: 25%;
          left: 40%;
          position: absolute;
        }

        img {
          // width: 400px;
          background-color: blue;
          // width: 250px;
        }

        picture {
          img {
            width: 463px;
            height: 262px;
            border: 1px solid red;
          }
        }


      }



    }


  }

  .mainBottom {
    // border: 1px solid blue;

    &:before {
      content: "";
      display: block;
      // border: 1px solid green;
      height: 50px;
    }
  }
}