@import './shared/variables';

.mainContainer {
  // border: 1px solid red;
  max-width: 1300px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    @include heading-2;
    width: 100%;
  }

  p {
    @include paragraph;
    width: 100%;
  }

  .mainTop {
    // border: 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;

    .mainTopLeft {
      // border: 1px solid red;
      text-align: left;
      flex-grow: 5;
      padding-left: 50px;
      padding-right: 50px;
    }

    .mainTopRight {
      // border: 1px solid red;
      flex-grow: 1;
      padding-left: 50px;
      padding-right: 50px;

      img {
        // width: 400px;
      }
    }


  }

  .mainBottom {
    // border: 1px solid blue;

    &:before {
      content: "";
      display: block;
      // border: 1px solid green;
      height: 50px;
    }
  }
}