@import './shared/variables';

.mainContainer {
  padding: 50px;

  h2 {
    @include heading-2;
  }

  p {
    @include paragraph;
  }

  .mainTop {
    // border: 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;

    .mainTopLeft {
      // border: 1px solid red;
      text-align: left;
      flex-grow: 2;
      padding-left: 50px;
      padding-right: 50px;
    }

    .mainTopRight {
      // border: 1px solid red;
      flex-grow: 1;
      padding-left: 50px;
      padding-right: 50px;

      img {
        width: 400px;
      }
    }
  }


  .mainBottom {

  }
}