.splash {
  background-image: url('../assets/hero-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-weight: normal;
  height: 600px;
  padding-top: 30px;
  padding-bottom: 30px;
}