.app {
  // border: 5px solid red;
  background-color: gray;

  .topSection {
    // background-color: red;
    background-image: url('./assets/hero-image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: normal;
  }
}

img {
  width: 100%;
}